/* Linkage */

h4.linkage{padding:0;margin:0}
h4.linkage a{text-align:center;padding:5px;color:#222;width:100%;background:#eee;display:inline-block;width:90%;height:30px}
h4.linkage img{margin-left:10px}

